body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav img {
  width:60px;
}

.carousel.carousel-slider {
  height: 700px!important;
}

ul:not(.browser-default)>li {
  height: 64px;
}

li.indicator-item.active {
  background-color:red!important;
}

.indicator-item {
  height: 15px!important;
  width:15px!important;
  background-color:white!important;
  border-radius: 0!important;
}

.activ {
  background:black;
  color:white;
}

.active-2 {
  background:none;
}